[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

cssselect = "==1.0.1"
lxml = "==4.1.1"
"mastodon.py" = "*"
youtube-dl = "==2017.11.26"


[dev-packages]

