[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

cssselect = "*"
lxml = "*"
"mastodon.py" = "*"
youtube-dl = "*"


[dev-packages]

"e1839a8" = {path = ".", editable = true}
pytest = "*"


[requires]

python_version = "3.6"
