[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cssselect = "*"
lxml = "*"
"mastodon.py" = "*"
youtube-dl = "*"
python-dotenv = "*"
click = "*"
"e1839a8" = {path = ".", editable = true}
appdirs = "*"

[dev-packages]
pytest = "*"
pylint = "*"

[requires]
python_version = "3.6"
